@model AccountViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container">
    <h2>Change your password @Model.Email</h2>
    <form asp-controller="Home" asp-action="ChangePassword" method="post">
        <div class="col s6">
            <div class="input-field">
                <input asp-for="Password" id="accountPassword" />
                <label for="accountPassword">Old password</label>
            </div>
            <div class="input-field">
                <input asp-for="ConfirmPassword" id="accountConfirmPassword" />
                <label for="accountConfirmPassword">Confirm old password</label>
            </div>
            <div class="input-field">
                <input asp-for="NewPassword" id="accountNewPassword" />
                <label for="accountNewPassword">New password</label>
            </div>
            <button type="submit" class="btn waves-effect">
                Change password
            </button>
        </div>
    </form>
</div>