@model AccountViewModel

<div class="container center">
    <div class="row">
        <h3>Forgot password?</h3>
        <div class="row">
            <form asp-action="ForgotPassword" asp-controller="Account" class="col s6 offset-s3">
                <div class="input-field">
                    <input asp-for="Email" />
                    <label asp-for="Email">Email</label>
                </div>
                <button class="btn green btn-large waves-effect" type="submit">
                    Send reset link
                </button>
                <a href="/" class="btn grey btn-large waves-effect">
                    Cancel
                </a>
            </form>
        </div>
        <p>@ViewBag.Message</p>
    </div>
</div>
