@model AccountViewModel

<div id="forgotPasswordModal" class="modal">
    <div class="modal-content center">
        <h4>Forgot your password?</h4>
        <form asp-action="SendForgotPassword" asp-controller="Home">
            <div class="input-field">
                <input asp-for="Email" />
                <label asp-for="Email">Email</label>
            </div>
            <button class="btn green btn-large waves-effect" type="submit">
                Send reset link
            </button>
            <button class="btn grey btn-large waves-effect modal-close">
                Cancel
            </button>
        </form>
        
    </div>
</div>