@model LoginViewModel

@{
    ViewBag.Title = "Login";
 }

    @*Login form*@
<div class="container">
    <form asp-action="Index" asp-controller="Account" method="post" class="col s12">

        <div class="row">
            <div class="col s6">
                <h4 class="center">Login</h4>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input asp-for="UserName" id="icon_prefix" type="text" class="validate" required>
                <label asp-for="UserName" for="icon_prefix">Email</label>
            </div>
        </div>
                
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">vpn_key</i>
                <input asp-for="Password" id="icon_vpn_key" type="password" class="validate" required>
                <label asp-for="Password" for="icon_vpn_key">Password</label>
            </div>
        </div>
                
        <div class="row">
            <button class="waves-effect btn btn-large green" type="submit">
                Login
                <i class="material-icons right">send</i>
            </button>
        </div>

    </form>
    <form>
        <div class="row">
            <button class="btn-flat waves-effect btn-large col offset-s2">
                Forgot password
            </button>
        </div>
        
    </form>
</div>