@model AccountViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container">
    <h2>Change your password</h2>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="Code" value="@Model.Code" />
        <div class="col s6">
            <div class="input-field">
                <input asp-for="Email" id="accountEmail" />
                <label for="accountEmail">Email</label>
            </div>
            <div class="input-field">
                <input asp-for="Password" id="accountPassword" />
                <label for="accountPassword">Password</label>
            </div>
            <div class="input-field">
                <input asp-for="ConfirmPassword" id="accountConfirmPassword" />
                <label for="accountConfirmPassword">Confirm password</label>
            </div>
            <button type="submit" class="btn waves-effect">
                New password
            </button>
        </div>
    </form>
</div>