<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    @RenderBody()

    <script src="~/js/site.js"></script>

    <script>
        $(document).ready(function () {

            M.updateTextFields();

            var sidebar = $('.collapsible');
            var SBInstances = M.Collapsible.init(sidebar/*, options*/);

            var loginModal = $('#loginModal');
            var LMInstances = M.Modal.init(loginModal/*, options*/);

            //Start of Category JS script
            var createCategoryModal = $('#createCategoryModal');
            var CCMInstances = M.Modal.init(createCategoryModal/*, options*/);
            
            var deleteCategoryModal = $('#deleteCategoryModal');
            var DCMInstances = M.Modal.init(deleteCategoryModal/*, options*/);

            var editCategoryModal = $('#editCategoryModal');
            var ECMInstances = M.Modal.init(editCategoryModal/*, options*/);

            $('.deleteCat').click(function() {
                
                var categoryId = $(this).data('id');
                var deleteInput = $('.deleteCategoryModalInput').attr('value', categoryId);
                
            });

            $('.editCat').click(function() {
                
                var categoryId = $(this).data('id');
                var categoryName = $(this).data('name');
                var editInput = $('.editCategoryModalInput').attr('value', categoryId);
                var editName = $('.editCategoryModalValue').attr('value', categoryName);
                
                M.updateTextFields();

            });

            // Start of subcategory JS script
            var createSubcategoryModal = $('#createSubcategoryModal');
            var CSMInstances = M.Modal.init(createSubcategoryModal/*, options*/);

            // Category select
            var categorySelect = $('.categoryselect');
            var CSInstances = M.FormSelect.init(categorySelect/*, options*/);

            var createSubcategorySubmit = $('#createSubcategorySubmit');
            createSubcategorySubmit.hide();

            categorySelect.on('change', () => {
                createSubcategorySubmit.show();
            });

            var editSubcategoryModal = $('#editSubcategoryModal');
            var ESMInstances = M.Modal.init(editSubcategoryModal/*, options*/);

            var deleteSubcategoryModal = $('#deleteSubcategoryModal');
            var DSMInstances = M.Modal.init(deleteSubcategoryModal/*, options*/);

            $('.deleteSubcat').click(function () {
                var subcategoryId = $(this).data('id');
                var deleteInput = $('.deleteSubcategoryModalInput').attr('value', subcategoryId);
            });

            $('.editSubcat').click(function () {

                var subcategoryId = $(this).data('id');
                var subcategoryName = $(this).data('name');
                var editInput = $('.editSubcategoryModalInput').attr('value', subcategoryId);
                var editName = $('.editSubcategoryModalValue').attr('value', subcategoryName);

                M.updateTextFields();

            });

            // Start of product JS script
            var CreateProductModal = $('#createProductModal');
            var CPInstances = M.Modal.init(CreateProductModal/*, options*/);

            // Subcategory select
            var subcategorySelect = $('.subcategoryselect');
            var SSInstances = M.FormSelect.init(subcategorySelect/*, options*/);

            var createProductSubmit = $('#createProductSubmit');
            createProductSubmit.hide();

            subcategorySelect.on('change', () => {
                createProductSubmit.show();
            });

            var editProductModal = $('#editProductModal');
            var EPInstances = M.Modal.init(editProductModal/*, options*/);

            var deleteProductModal = $('#deleteProductModal');
            var DPInstances = M.Modal.init(deleteProductModal/*, options*/);

            $('.deleteProd').click(function () {
                var productId = $(this).data('id');
                var deleteInput = $('.deleteProductModalInput').attr('value', productId);
            });

            $('.editProd').click(function () {

                $('.editProductModalDescription').empty();
                var productId = $(this).data('id');
                var productName = $(this).data('name');
                var productPrice = $(this).data('price');
                var productDescription = $(this).data('description');
                var editInput = $('.editProductModalInput').attr('value', productId);
                var editName = $('.editProductModalValue').attr('value', productName);
                var editPrice = $('.editProductModalPrice').attr('value', productPrice);
                //var editDescription = $('.editProductModalDescription').append(productDescription);
                var editDescription = $('.editProductModalDescription').val(productDescription);

                M.updateTextFields();
                M.textareaAutoResize($('.editProductModalDescription'));
            });

        });

    </script>

</body>
</html>
