<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    @RenderBody()

    <script src="~/js/site.js"></script>

    <script>
        $(document).ready(function () {

            M.updateTextFields();

            var sidebar = $('.collapsible');
            var SBInstances = M.Collapsible.init(sidebar/*, options*/);

            var loginModal = $('#loginModal');
            var LMInstances = M.Modal.init(loginModal/*, options*/);

            var createCategoryModal = $('#createCategoryModal');
            var CCMInstances = M.Modal.init(createCategoryModal/*, options*/);
            
            var deleteCategoryModal = $('#deleteCategoryModal');
            var DCMInstances = M.Modal.init(deleteCategoryModal/*, options*/);

            var editCategoryModal = $('#editCategoryModal');
            var ECMInstances = M.Modal.init(editCategoryModal/*, options*/)

            $('.deleteCat').click(function() {
                
                var categoryId = $(this).data('id');
                var deleteInput = $('.deleteCategoryModalInput').attr('value', categoryId);
                
            });

            $('.editCat').click(function() {
                
                var categoryId = $(this).data('id');
                var categoryName = $(this).data('name');
                var editInput = $('.editCategoryModalInput').attr('value', categoryId);
                var editName = $('.editCategoryModalValue').attr('value', categoryName)
                
                M.updateTextFields();

            });
            
        });

    </script>

</body>
</html>
