@model MainPageViewModel

<div class="sidenav sidenav-fixed">
    <ul class="collapsible popout" style="margin-top: 0.5em;">
        @foreach (var c in Model.Categories)
        {
            <li>

                <div class="collapsible-header waves-effect">@c.Name</div>
                <div class="collapsible-body">
                    <ul class="collapsible popout">
                        <li>
                            
                            <a href="Subcategory" class="btn waves-effect green center">
                                subcategory view
                            </a>
                            
                        </li>
                        @foreach (var s in Model.Subcategories.Where(x => x.CategoryId == c.Id))
                        {
                            <li>
                                <div class="collapsible-header waves-effect">@s.Name</div>
                                <p>@s.UpdatedDate</p>
                            </li>
                        }
                    </ul>
                </div>

            </li>
        }
        
    </ul>
</div>
