@model MainPageViewModel

<div id="createCategoryModal" class="modal">

    @*Create category form*@
    <form asp-action="CreateCategory" asp-controller="Category" method="post" class="col s12">

        <div class="modal-content">
            <h4 class="center">Create new category</h4>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">library_books</i>
                    <input asp-for="Name" id="icon_library_books" type="text" class="validate" required>
                    <label asp-for="Name" for="icon_library_books">Category name</label>
                    <span class="helper-text" data-error="Please enter a category name"></span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a class="modal-close waves-effect btn grey">
                cancel
                <i class="material-icons right">cancel</i>
            </a>
            <button class="waves-effect btn green" type="submit">
                Create
                <i class="material-icons right">library_add</i>
            </button>
        </div>

    </form>
</div>