@model MainPageViewModel

<div id="deleteProductModal" class="modal">
    <div class="modal-content">
        <h4 class="center">This will remove the product</h4>
        <div class="row">
            <h5 class="center">are you sure you want to delete it?</h5>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="right">

                <form>
                    <a class="modal-close waves-effect btn grey col">
                        No, cancel
                        <i class="material-icons right">cancel</i>
                    </a>
                    <button asp-action="DeleteProduct" asp-controller="Product"
                            class="modal-close btn waves-effect red darken-2 modal-trigger col" type="submit" style="margin-left:1em">
                        Yes, delete
                        <i class="material-icons right">delete</i>
                    </button>
                    <input class="deleteProductModalInput" type="hidden" name="productId" value="" />

                </form>
            </div>
        </div>

    </div>
</div>