@model MainPageViewModel

<div id="editSubcategoryModal" class="modal">
    <form asp-action="UpdateSubcategory" asp-controller="Subcategory">
        <div class="modal-content">
            <h4 class="center">Edit Subcategory</h4>
            <div class="row">
                <div class="input-field col s6">
                    <select asp-for="CategoryId" class="categoryselect">
                        <option selected disabled>Choose category</option>
                        @foreach (var c in Model.Categories)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                </div>

                <div class="input-field col s6">
                    <i class="material-icons prefix">library_books</i>
                    <input asp-for="Name" id="edit_library_books" type="text" class="editSubcategoryModalValue validate" value="">
                    <label asp-for="Name" for="edit_library_books" class="active">Change subcategory name</label>
                </div>
            </div>
            <div class="row">

            </div>
        </div>

        <div class="modal-footer">
            <a class="modal-close waves-effect btn grey">
                cancel
                <i class="material-icons right">cancel</i>
            </a>
            <button class="modal-close waves-effect btn green" type="submit">
                edit
                <i class="material-icons right">edit</i>
            </button>
            <input class="editSubcategoryModalInput" type="hidden" name="subcategoryId" value="" />
        </div>
    </form>
</div>