@model MainPageViewModel

<partial name="SidebarPartialView" />

<div class="container">
    <div class="row" style="margin-top: 1.5em">
        <div class="right">

            <a href="#createSubcategoryModal" class="btn waves-effect green modal-trigger">New subcategory<i class="material-icons right">playlist_add</i></a>
            <a asp-action="Logout" asp-controller="Account" class="btn waves-effect red">Logout<i class="material-icons right">exit_to_app</i></a>

        </div>
    </div>

    @*This div ofsets itself from the sidebar*@
    <div style="margin-left:8em">
        <h1>You're viewing subcategory @Model.Name</h1>
    </div>

</div>